<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to 'Clientes', clientes_path %>
<%= link_to 'Produtos', produtos_path %>
<%= link_to 'Planos de pagamentos', planospagamentos_path %>
